<div class="donate-page">  
  <div class="development-notice">
    <h2>We're Working Hard!</h2>
    <p>
      Our donation page is currently under development. We’re working hard to complete it as soon as we can, and it will be ready in 2-3 days.
    </p>
    <p>
      Soon, you will be able to donate money, food, time, and more. We aim to make the donation process as user-friendly as possible.
    </p>
    <p>
      Thank you for your patience, and stay connected with us. The donation page will be completed very soon!
    </p>
  </div>
</div>
